body{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    background-color: #5EABD6;
    display: flex;
    flex-direction: row;
}
.left-pane{
    flex:1 ;
    width: 100%;
    background-color: #FEFBC7;
}
#SubmitQuestion{
    background-color: #e58a80;
    font-size: medium;   
}
#SubmitQuestion:hover{
    background-color: #bd736b;
}
.searchContainer input{
    width: 50%;
    height: 2rem;
}
.searchContainer button{
    width:3 rem;
    height: 2rem;
    background-color: rgb(231, 221, 221);
}

.right-pane{
    flex: 2;
    width: 100%;
    background-color: #FFB4B4;
}

.createNewQuestion>*{
    display: block;
    margin: 0 auto;
    min-width: 50%;
    margin-top: 10px;
    
}


.hidden{
display: none;
}
.questionItemContainer{
 background-color: #e58a80;
 margin: 10px 0px;
}